Repository ruby/gem_rbs_collection, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pocke, @ksss, @yykamei, @VTRyo, @takahashim, @ybiquitous

activerecord: Fix type of #merge (#333)
  gems/activerecord/6.0/activerecord.rbs
Owners: @pocke

Improve testing CI (#338)
  .github/workflows/test.yml
  bin/test
  gems/activemodel/6.0/_scripts/test
Owners: @pocke

Improve Retryable gem
  gems/retryable/3.0/_scripts/test
  gems/retryable/3.0/_test/Steepfile
  gems/retryable/3.0/_test/steep_expectations.yml
  gems/retryable/3.0/_test/test.rb
  gems/retryable/3.0/configuration.rbs
  gems/retryable/3.0/retryable.rbs
  gems/retryable/3.0/version.rbs
Owners: @ybiquitous

Improve Retryable gem (#340)
  gems/retryable/3.0/_scripts/test
  gems/retryable/3.0/_test/Steepfile
  gems/retryable/3.0/_test/steep_expectations.yml
  gems/retryable/3.0/_test/test.rb
  gems/retryable/3.0/configuration.rbs
  gems/retryable/3.0/retryable.rbs
  gems/retryable/3.0/version.rbs
Owners: @ybiquitous

Import prime files from ruby/rbs
  gems/prime/0.1.2/_scripts/test
  gems/prime/0.1.2/_test/Steepfile
  gems/prime/0.1.2/integer-extension.rbs
  gems/prime/0.1.2/manifest.yaml
  gems/prime/0.1.2/prime.rbs
Owners: @pocke

Add #empty? type definitions to activerecord
  gems/activerecord/6.0/activerecord-generated.rbs
Owners: @pocke

Import prime files from ruby/rbs (#341)
  gems/prime/0.1.2/_scripts/test
  gems/prime/0.1.2/_test/Steepfile
  gems/prime/0.1.2/integer-extension.rbs
  gems/prime/0.1.2/manifest.yaml
  gems/prime/0.1.2/prime.rbs
Owners: @pocke

Merge `test_on_changed_gems` and `test_all_gems` jobs
  .github/workflows/test.yml
Owners: @pocke

active-record: add missing after_* callbacks
  gems/activerecord/6.0/activerecord.rbs
Owners: @pocke

Update RBS to v3.1.0
  Gemfile.lock
Owners: @pocke

Update RBS to v3.1.0 (#345)
  Gemfile.lock
Owners: @pocke

Declare dependency from activesupport/7.0 to securerandom
  gems/activesupport/7.0/manifest.yaml
Owners: @pocke

Declare dependency from activesupport/6.0 to securerandom
  gems/activesupport/6.0/manifest.yaml
Owners: @pocke

Declare dependency from activesupport to securerandom (#346)
  gems/activesupport/6.0/manifest.yaml
  gems/activesupport/7.0/manifest.yaml
Owners: @pocke

Specify `rbs` syntax to code snippets in Markdown files
  docs/CONTRIBUTING.md
  gems/enumerize/2.5/README.md
Owners: @pocke

Fix Protobuf gem test
  gems/protobuf/3.10.3/_scripts/test
  gems/protobuf/3.10.3/_test/Steepfile
  gems/protobuf/3.10.3/_test/steep_expectations.yml
Owners: @pocke

Add #empty? type definitions to activerecord (#342)
  gems/activerecord/6.0/activerecord-generated.rbs
Owners: @pocke

active-record: add missing after_* callbacks (#344)
  gems/activerecord/6.0/activerecord.rbs
Owners: @pocke

Specify `rbs` syntax to code snippets in Markdown files (#347)
  docs/CONTRIBUTING.md
  gems/enumerize/2.5/README.md
Owners: @pocke

Fix Protobuf gem test (#348)
  gems/protobuf/3.10.3/_scripts/test
  gems/protobuf/3.10.3/_test/Steepfile
  gems/protobuf/3.10.3/_test/steep_expectations.yml
Owners: @pocke

ActiveRecord::RuntimeRegistry has changed from class to module since v7.0.
  gems/activerecord/6.0/activerecord-6.0.rbs
  gems/activerecord/6.0/activerecord-generated.rbs
  gems/activerecord/6.1/activerecord-6.1.rbs
  gems/activerecord/7.0/activerecord-7.0.rbs
Owners: @pocke

LocalCacheRegistry has changed from class to module since v7.0
  gems/activesupport/6.0/activesupport-6.0.rbs
  gems/activesupport/6.0/activesupport-generated.rbs
Owners: @pocke

ActiveRecord::RuntimeRegistry has changed from class to module since v7.0. (#349)
  gems/activerecord/6.0/activerecord-6.0.rbs
  gems/activerecord/6.0/activerecord-generated.rbs
  gems/activerecord/6.1/activerecord-6.1.rbs
  gems/activerecord/7.0/activerecord-7.0.rbs
Owners: @pocke

LocalCacheRegistry has changed from class to module since v7.0 (#350)
  gems/activesupport/6.0/activesupport-6.0.rbs
  gems/activesupport/6.0/activesupport-generated.rbs
Owners: @pocke

active_hash: Add a signature for ActiveFile::Base.reload()
  gems/active_hash/3.2/active_file.rbs
Owners: @pocke

switching aws s3 body type to Types::body
  gems/aws-sdk-s3/1/bucket.rbs
  gems/aws-sdk-s3/1/client.rbs
  gems/aws-sdk-s3/1/multipart_upload_part.rbs
  gems/aws-sdk-s3/1/object.rbs
  gems/aws-sdk-s3/1/object_summary.rbs
  gems/aws-sdk-s3/1/types.rbs
Owners: @ksss

Streaming input should add type StringIO and File
  gems/aws-sdk-s3/1/bucket.rbs
  gems/aws-sdk-s3/1/client.rbs
  gems/aws-sdk-s3/1/multipart_upload_part.rbs
  gems/aws-sdk-s3/1/object.rbs
  gems/aws-sdk-s3/1/object_summary.rbs
  gems/aws-sdk-s3/1/types.rbs
  generators/aws-sdk-rbs-generator/lib/aws-sdk-rbs-generator/shape_dictionary/shape.rb
Owners: @ksss

Add task for initialize of development
  generators/aws-sdk-rbs-generator/Rakefile
Owners: @ksss

Add output kind for type alias
  gems/aws-sdk-s3/1/types.rbs
  generators/aws-sdk-rbs-generator/lib/aws-sdk-rbs-generator/shape_dictionary/shape.rb
Owners: @ksss

Bundle update
  generators/aws-sdk-rbs-generator/Gemfile.lock
Owners: @ksss

Update aws-sdk-ruby
  gems/aws-sdk-ec2/1/client.rbs
  gems/aws-sdk-ec2/1/resource.rbs
  gems/aws-sdk-ec2/1/types.rbs
  gems/aws-sdk-kms/1/client.rbs
  gems/aws-sdk-kms/1/errors.rbs
  gems/aws-sdk-kms/1/resource.rbs
  gems/aws-sdk-kms/1/types.rbs
  gems/aws-sdk-s3/1/bucket.rbs
  gems/aws-sdk-s3/1/client.rbs
  gems/aws-sdk-s3/1/object_summary.rbs
  gems/aws-sdk-s3/1/object_version.rbs
  gems/aws-sdk-s3/1/resource.rbs
  gems/aws-sdk-s3/1/types.rbs
  gems/aws-sdk-sqs/1/client.rbs
  gems/aws-sdk-sqs/1/errors.rbs
  gems/aws-sdk-sqs/1/resource.rbs
  gems/aws-sdk-sqs/1/types.rbs
  gems/aws-sdk-ssm/1/client.rbs
  gems/aws-sdk-ssm/1/resource.rbs
Owners: @ksss

bin/init_new_gem http
  .gitmodules
  gems/http/5.1/_scripts/test
  gems/http/5.1/_test/Steepfile
  gems/http/5.1/_test/test.rb
  gems/http/5.1/http.rbs
  gems/http/5.1/manifest.yaml
Owners: @pocke

Update manifest.yaml
  gems/http/5.1/manifest.yaml
Owners: @pocke

Add http.rbs
  gems/http/5.1/_test/Steepfile
  gems/http/5.1/_test/test.rb
  gems/http/5.1/http.rbs
Owners: @pocke

Fix test
  gems/http/5.1/_scripts/test
Owners: @pocke

Add code
  gems/http/5.1/_test/test.rb
  gems/http/5.1/http.rbs
Owners: @pocke

Add HTTP.auth
  gems/http/5.1/http.rbs
Owners: @pocke

Remove Forwardable
  gems/http/5.1/_scripts/test
  gems/http/5.1/_test/Steepfile
  gems/http/5.1/http.rbs
  gems/http/5.1/manifest.yaml
Owners: @pocke

Update gems/http/5.1/_test/test.rb
  gems/http/5.1/_test/test.rb
Owners: @pocke

Update gems/http/5.1/http.rbs
  gems/http/5.1/http.rbs
Owners: @pocke

.github/CODEOWNERS:

# The core maintainer owns all files
# except files which have code owners.
*                    @pocke

# Maintainer of individual gems (alphabetical order)
/gems/ast               @pocke
/gems/aws-sdk-*         @ksss
/gems/business_time     @ksss
/gems/circuitbox        @yykamei
/gems/dogstatsd-ruby    @VTRyo
/gems/faraday           @yykamei
/gems/globalid          @pocke
/gems/httpclient        @ksss
/gems/i18n              @takahashim
/gems/moneta            @yykamei
/gems/parallel          @ybiquitous
/gems/rainbow           @ybiquitous
/gems/retryable         @ybiquitous
/gems/rolify            @ksss
/gems/simplecov         @ybiquitous
/gems/stackprof         @pocke
/gems/rails-dom-testing @ksss
/gems/yard              @ksss

# Misc
/generators/aws-sdk-rbs-generator @ksss
/generators/yard-generator @ksss
